@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'CircularSTD';
		src: url('../dist/font/CircularStd-Bold.woff');
	}

	html {
		font-family: inter;
	}

	h1 {
		font-family: CircularSTD;
	}
}

@layer utilities {
	.icons {
		@apply mr-3 flex h-9 w-9 items-center justify-center rounded-full border border-slate-300 transition duration-300 ease-in-out hover:text-white hover:shadow-lg;
	}
}
